body { 
  color:#000; 
  display:block; 
  font-family: 'Open Sans', sans-serif;
  font-size: 2vh;
  }
h1 {position:absolute;
  top:0%;
  left: 2.5%;
  color:#000; 
  /*padding:-0em 0em 0em 2.5%;*/
}

h2 {text-align:right;
  font-size: .6em;
  color:#000; 
  position:absolute;
  bottom:2.5%;
  right: 2.5%;
}
img {
  width: 100%; 
  object-fit: contain;
}
p{
  color: #000
}
.phoda{
padding-right: 2.5%;
float: right;}
.phoda tr td{
  font-size: 1.3vh;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

.rotateLeft {
  text-align: center;
  font-size: 2em;
  white-space: nowrap;
  vertical-align: middle;
  width: .5em;
}
  .rotateLeft div {
    -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
    -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
    margin-left: -4em;
    margin-right: -4em;
  }
.rotateRight {
  text-align: center;
  font-size: 2em;
  white-space: nowrap;
  vertical-align: middle;
  width: .5em;
}
  .rotateRight div {
    -moz-transform: rotate(90.0deg);  /* FF3.5+ */
    -o-transform: rotate(90.0deg);  /* Opera 10.5 */
    -webkit-transform: rotate(90.0deg);  /* Saf3.1+, Chrome */
    margin-left: -4em;
    margin-right: -4em;
  }

.button {
  background-color:#3bb3e0;
  padding:10px;
  /*position:absolute;
  bottom:2px;
  left: 2px;*/
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  text-decoration:none;
  color:#fff;
  border: solid 1px #186f8f;
  background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
  background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
  background-image: -webkit-gradient(
                    linear, 
                    left bottom, 
                    left top, 
                    color-stop(0, rgb(44,160,202)),
                    color-stop(1, rgb(62,184,229)));
  -webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
  -moz-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
  box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.button:active {
  padding-bottom:9px;
  padding-left:10px;
  padding-right:10px;
  padding-top:11px;
  /*top:1px;*/
  background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  background-image: -webkit-gradient(
                    linear,
                    left bottom,
                    left top,
                    color-stop(0, rgb(62,184,229)),
                    color-stop(1, rgb(44,160,202)));
}

.draggable {
  position:absolute;
  top: 85%;
  left: 50%;
  touch-action: none;
  z-index:auto;
  width: 5em;
  height: 7.5em;
  margin: 0em;
  padding:2px;
  background-color: #29e;
}

#container{
  position: absolute;
  top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  width: 95%;
  height: 85%;
  border: solid;
  background: linear-gradient(to right,#19d819, #008000, #c11111,#FF0000);
  border: solid 1px;
}
.image{
  /*border-radius: 5px;*/
  cursor: pointer;
  transition: 0.3s;
}
.image:hover {opacity: 0.7;}

